body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    margin: 25%;
    flex-direction: column;
}

#gomb
{
    height: 40px;
    width: 110px;
    border: solid black 1px;
    background-color: burlywood;
    
}